@model IEnumerable<Book>

<h2>Books</h2>
<table class="table">
    <tr>
        <th>BookID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Characteristics</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td><a href=/Book/ViewBook/@book.BookID>@book.BookID</a></td>
            <td><a href=/Book/ViewBook/@book.Title>@book.Title</a></td>
            <td><a href=/Book/ViewBook/@book.Author>@book.Author</a></td>
            <td><a href=/Book/ViewBook/@book.Characteristics>@book.Characteristics</a></td>
        </tr>

    }
</table>